In [56]:
import numpy as np
import pandas as pd
import json
import sqlite3

In [13]:
classifications = pd.read_csv("periodicity-classifications.csv")
classifications['metadata_json'] = [json.loads(q) for q in classifications.metadata]
classifications['annotations_json'] = [json.loads(q) for q in classifications.annotations]
classifications['subject_data_json'] = [json.loads(q) for q in classifications.subject_data]

In [196]:
iclass = classifications[classifications.workflow_version == classifications['workflow_version'].max()]

clist=[]

In [150]:
classifications['subject_data_json'][1]

{'19261945': {'Filename': 'figs_v01__1000102010005018.png', 'retired': None}}

In [197]:
for index, c in iclass.iterrows():
    filename = str(c.subject_data_json[str(c.subject_ids)]['Filename'])
    oid = filename.split("_")[-1]
    oid = int(oid.split(".")[0])
    clist.append({'classification_id':c.classification_id, 'user_name':c.user_name, 'user_id':c.user_id,
                  'created_at':c.created_at, 'subject_ids':c.subject_ids, 'val':c.annotations_json[0]['value'], 'oid':oid})

In [195]:
oid

35782020007389

In [198]:
clist

[{'classification_id': 98118966,
  'created_at': '2018-03-21 14:43:05 UTC',
  'oid': 1000102010005018,
  'subject_ids': 19261945,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Periodic\n'},
 {'classification_id': 98361756,
  'created_at': '2018-03-22 18:14:46 UTC',
  'oid': 35782020001711,
  'subject_ids': 19264901,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Non-periodic'},
 {'classification_id': 98361794,
  'created_at': '2018-03-22 18:15:01 UTC',
  'oid': 1010032025000695,
  'subject_ids': 19263017,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Non-periodic'},
 {'classification_id': 98361802,
  'created_at': '2018-03-22 18:15:03 UTC',
  'oid': 227202090000435,
  'subject_ids': 19264032,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Non-periodic'},
 {'classification_id': 98361810,
  'created_at': '2018-03-22 18:15:07 UTC',
  'oid': 35782020009323,
  'subject_ids': 19264549,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Periodic\n'},
 {'classification_id': 98361824,
  'created_at': '2018-03-22 18:15:14 UTC',
  'oid': 1010032020000892,
  'subject_ids': 19263088,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Non-periodic'},
 {'classification_id': 98361836,
  'created_at': '2018-03-22 18:15:16 UTC',
  'oid': 1010032025000243,
  'subject_ids': 19262634,
  'user_id': 1665115,
  'user_name': 'knowledgewithin',
  'val': 'Non-periodic'},
 {'classification_id': 98361839,
  'created_at': '2018-03-22 18:15:18 UTC',
  'oid': 1000432060036093,
  'subject_ids': 19262870,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Periodic\n'},
 {'classification_id': 98361849,
  'created_at': '2018-03-22 18:15:20 UTC',
  'oid': 45882070002994,
  'subject_ids': 19262815,
  'user_id': 1665115,
  'user_name': 'knowledgewithin',
  'val': 'Periodic\n'},
 {'classification_id': 98361858,
  'created_at': '2018-03-22 18:15:22 UTC',
  'oid': 1010032020000348,
  'subject_ids': 19263066,
  'user_id': 1665115,
  'user_name': 'knowledgewithin',
  'val': 'Non-periodic'},
 {'classification_id': 98361864,
  'created_at': '2018-03-22 18:15:24 UTC',
  'oid': 1010032020000205,
  'subject_ids': 19263192,
  'user_id': 1665115,
  'user_name': 'knowledgewithin',
  'val': 'Non-periodic'},
 {'classification_id': 98361914,
  'created_at': '2018-03-22 18:15:42 UTC',
  'oid': 35782020007389,
  'subject_ids': 19264533,
  'user_id': 562290,
  'user_name': 'aarozoon',
  'val': 'Periodic\n'}]

In [181]:
c.subject_data_json[str(c.subject_ids)]

{'Filename': 'figs_v01__1000102010005018.png', 'retired': None}

In [167]:
c.subject_data_json

{'19261945': {'Filename': 'figs_v01__1000102010005018.png', 'retired': None}}

In [67]:
conn = sqlite3.connect('features.db')
cur = conn.cursor()

In [87]:
cur.execute("""create table classifications(
        oid Float Primary Key, subject_ids Float,
        user_name__1 string,user_id__1 string, classification_id__1 Float, val__1 string,
        user_name__2 string,user_id__2 string, classification_id__2 Float, val__2 string,
        user_name__3 string,user_id__3 string, classification_id__3 Float, val__3 string,
        user_name__4 string,user_id__4 string, classification_id__4 Float, val__4 string,
        user_name__5 string,user_id__5 string, classification_id__5 Float, val__5 string,
        user_name__6 string,user_id__6 string, classification_id__6 Float, val__6 string,
        user_name__7 string,user_id__7 string, classification_id__7 Float, val__7 string,
        user_name__8 string,user_id__8 string, classification_id__8 Float, val__8 string,
        user_name__9 string,user_id__9 string, classification_id__9 Float, val__9 string,
        user_name_10 string,user_id_10 string, classification_id_10 Float, val_10 string,
        user_name_11 string,user_id_11 string, classification_id_11 Float, val_11 string,
        user_name_12 string,user_id_12 string, classification_id_12 Float, val_12 string,
        user_name_13 string,user_id_13 string, classification_id_13 Float, val_13 string,
        user_name_14 string,user_id_14 string, classification_id_14 Float, val_14 string,
        user_name_15 string,user_id_15 string, classification_id_15 Float, val_15 string
        )""")

In [88]:
cur.execute("""PRaGMA table_info(classifications)""")
cur.fetchall()

[(0, 'oid', 'Float', 0, None, 1),
 (1, 'subject_ids', 'Float', 0, None, 0),
 (2, 'user_name__1', 'string', 0, None, 0),
 (3, 'user_id_1', 'string', 0, None, 0),
 (4, 'val_1', 'string', 0, None, 0),
 (5, 'user_name__2', 'string', 0, None, 0),
 (6, 'user_id_2', 'string', 0, None, 0),
 (7, 'val_2', 'string', 0, None, 0),
 (8, 'user_name__3', 'string', 0, None, 0),
 (9, 'user_id_3', 'string', 0, None, 0),
 (10, 'val_3', 'string', 0, None, 0),
 (11, 'user_name__4', 'string', 0, None, 0),
 (12, 'user_id_4', 'string', 0, None, 0),
 (13, 'val_4', 'string', 0, None, 0),
 (14, 'user_name__5', 'string', 0, None, 0),
 (15, 'user_id_5', 'string', 0, None, 0),
 (16, 'val_5', 'string', 0, None, 0),
 (17, 'user_name__6', 'string', 0, None, 0),
 (18, 'user_id_6', 'string', 0, None, 0),
 (19, 'val_6', 'string', 0, None, 0),
 (20, 'user_name__7', 'string', 0, None, 0),
 (21, 'user_id_7', 'string', 0, None, 0),
 (22, 'val_7', 'string', 0, None, 0),
 (23, 'user_name__8', 'string', 0, None, 0),
 (24, 'user_id_8', 'string', 0, None, 0),
 (25, 'val_8', 'string', 0, None, 0),
 (26, 'user_name__9', 'string', 0, None, 0),
 (27, 'user_id_9', 'string', 0, None, 0),
 (28, 'val_9', 'string', 0, None, 0),
 (29, 'user_name_10', 'string', 0, None, 0),
 (30, 'user_id10', 'string', 0, None, 0),
 (31, 'val10', 'string', 0, None, 0),
 (32, 'user_name_11', 'string', 0, None, 0),
 (33, 'user_id11', 'string', 0, None, 0),
 (34, 'val11', 'string', 0, None, 0),
 (35, 'user_name_12', 'string', 0, None, 0),
 (36, 'user_id12', 'string', 0, None, 0),
 (37, 'val12', 'string', 0, None, 0),
 (38, 'user_name_13', 'string', 0, None, 0),
 (39, 'user_id13', 'string', 0, None, 0),
 (40, 'val13', 'string', 0, None, 0),
 (41, 'user_name_14', 'string', 0, None, 0),
 (42, 'user_id14', 'string', 0, None, 0),
 (43, 'val14', 'string', 0, None, 0),
 (44, 'user_name_15', 'string', 0, None, 0),
 (45, 'user_id15', 'string', 0, None, 0),
 (46, 'val15', 'string', 0, None, 0)]

In [112]:
for i in range(15):
    print('classification_id{:_>3} Float,user_name{:_>3} string,user_id{:_>3} string,val{:_>3} string,'.format(i+1,i+1,i+1,i+1))

classification_id__1 Float,user_name__1 string,user_id__1 string,val__1 string,
classification_id__2 Float,user_name__2 string,user_id__2 string,val__2 string,
classification_id__3 Float,user_name__3 string,user_id__3 string,val__3 string,
classification_id__4 Float,user_name__4 string,user_id__4 string,val__4 string,
classification_id__5 Float,user_name__5 string,user_id__5 string,val__5 string,
classification_id__6 Float,user_name__6 string,user_id__6 string,val__6 string,
classification_id__7 Float,user_name__7 string,user_id__7 string,val__7 string,
classification_id__8 Float,user_name__8 string,user_id__8 string,val__8 string,
classification_id__9 Float,user_name__9 string,user_id__9 string,val__9 string,
classification_id_10 Float,user_name_10 string,user_id_10 string,val_10 string,
classification_id_11 Float,user_name_11 string,user_id_11 string,val_11 string,
classification_id_12 Float,user_name_12 string,user_id_12 string,val_12 string,
classification_id_13 Float,user_name_13 string,user_id_13 string,val_13 string,
classification_id_14 Float,user_name_14 string,user_id_14 string,val_14 string,
classification_id_15 Float,user_name_15 string,user_id_15 string,val_15 string,

In [95]:
blist = pd.DataFrame(clist)

In [137]:
blist.T

,0,1,2,3,4,5,6,7,8,9,10,11
classification_id,98118966,98361756,98361794,98361802,98361810,98361824,98361836,98361839,98361849,98361858,98361864,98361914
created_at,2018-03-21 14:43:05 UTC,2018-03-22 18:14:46 UTC,2018-03-22 18:15:01 UTC,2018-03-22 18:15:03 UTC,2018-03-22 18:15:07 UTC,2018-03-22 18:15:14 UTC,2018-03-22 18:15:16 UTC,2018-03-22 18:15:18 UTC,2018-03-22 18:15:20 UTC,2018-03-22 18:15:22 UTC,2018-03-22 18:15:24 UTC,2018-03-22 18:15:42 UTC
subject_ids,19261945,19264901,19263017,19264032,19264549,19263088,19262634,19262870,19262815,19263066,19263192,19264533
user_id,562290,562290,562290,562290,562290,562290,1665115,562290,1665115,1665115,1665115,562290
user_name,aarozoon,aarozoon,aarozoon,aarozoon,aarozoon,aarozoon,knowledgewithin,aarozoon,knowledgewithin,knowledgewithin,knowledgewithin,aarozoon
val,Periodic\n,Non-periodic,Non-periodic,Non-periodic,Periodic\n,Non-periodic,Non-periodic,Periodic\n,Periodic\n,Non-periodic,Non-periodic,Periodic\n

In [145]:
rows, cols = np.shape(blist)

for p in range(rows):
    
    #data = blist.T[rowid]['classification_id'], blist.T[rowid]

TypeError: 'int' object is not iterable

In [138]:
zip(blist.T)